pre {
   font-size: 18px;
   color: brown;
}
td {
   border-style: solid;
   border-width: 1px;
}

th {
   border-style: solid;
   border-width: 1px;
}

.tabel {
   border-style: solid;
   border-width: 1px;
   width: '100%';
   margin: auto;
   text-align: center;
}

.imageContainer {
   text-align: center;
}

.boxes {
   background-color: lightgray;
}

.ballTabel {
   margin: auto;
}

